.vscode
src/client/__pycache__
src/server/__pycache__
docs/user_guide.aux
docs/user_guide.fdb_latexmk
docs/user_guide.fls
docs/user_guide.log
docs/user_guide.out
docs/user_guide.synctex.gz
docs/user_guide.toc
docs/code_description.aux
docs/code_description.fdb_latexmk
docs/code_description.fls
docs/code_description.log
docs/code_description.out
docs/code_description.synctex.gz
docs/code_description.toc